body {
    height: 100vh;
    background-color: aliceblue;
}

#ytplayer {
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: azure;
}

h1, label, input, button, p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    background-color: azure;
    border-radius: 3px;
}